/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~ng2-toastr/ng2-toastr.css";

body {
    padding-top: 80px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .card-block {
    padding: 20px;
  }

  .uploadWidget {
    background-color: rgb(231, 229, 229);
    border-radius: 10px;
    margin:5px;
    width: 500px;
}

.uploadWidget .img-ul-upload {
    background-color: white !important;
}

.uploadWidget .img-ul-clear {
    background-color: rgb(78, 78, 78) !important;
}

.uploadWidget .img-ul-drag-box-msg {
    color: rgb(122, 122, 122) !important;
}

.uploadWidget .img-ul-container {
    background-color: #FF6CAD !important;
}